@charset "UTF-8";

body {background: #777;}


/************* Contents **************/


#wrap {background: #fff; max-width: 1100px; margin:0 auto;}

#appTop {width: 100%; margin: 0 0 10px 0;}
#appTop td {vertical-align: bottom!important; font-size: 16px; font-weight: bold; line-height: 130%;}

h3 {padding-left: 10px;}

#topLogo {max-width:960px; margin:0 auto; padding:20px;}
#topLogo_io {max-width:960px; margin:0 auto; padding:10px 0;}
#titleBarIn {max-width:960px; margin:0 auto; padding-left:10px; font-size:130%;}

.subEn {font-size: 80%; font-weight: normal;}
.subColor {color: #999;}
ul {padding: 0 0 0 20px;}
ol {padding: 0 0 0 20px;}
.agreeIframe {width: 100%; height: 150px;}

.text-isic {color: #3ebebd;}
.text-isic2 {color: #2d939e;}


#leftTopLogo {float:left; max-width:60%; margin-top:5px;}
#rightTopLogo {float:right; height:70px;}
#rightTopLogoS {float:right; height:80px;}
#rightTopLogoS_io {float:right; margin-top:10px; max-height:80px;}
#titleBar {padding:15px 10px; background:#d9f1f1;}

#wrap_partnerApp {max-width:960px; margin:0 auto;}
#greeting {padding:20px; background:#f7f7f7; margin-top:20px;}

#topTitleDiv {font-size:110%; background:#bbb;}

.topTitleO {padding:15px 20px; color:#fff; background:#2d939e; border:1px solid #fff; text-align:center; vertical-align:middle;} 
.topTitleO a:link {color:#fff;text-decoration:none;}
.topTitleO a:visited {color:#fff;text-decoration:none;}
.topTitleO a:active {color:#fff;text-decoration:none;}
.topTitleO a:hover {color:#fff;text-decoration:underline;} 

.topTitleX {padding:15px 20px; color:#fff; background:#bbb; border:1px solid #fff; text-align:center; vertical-align:middle;}
.topTitleX a:link {color:#fff;text-decoration:none;}
.topTitleX a:visited {color:#fff;text-decoration:none;}
.topTitleX a:active {color:#fff;text-decoration:none;}
.topTitleX a:hover {color:#2d939e;text-decoration:underline;} 

.w100 {width:100%;}
.mb30 {margin-bottom:30px;}
.mb20 {margin-bottom:20px;}
.mb5 {margin-bottom:5px;}
.mt30 {margin-top:30px;}
.mt20 {margin-top:20px;}
.mt10 {margin-top:10px;}
.mt5 {margin-top:5px;}
.m0 {margin:0;}
.p0 {padding:0;}
.pt30 {padding-top:30px;}
.pt20 {padding-top:20px;}
.pt10 {padding-top:10px;}
.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}

.p30 {padding: 30px;}
.pl3 {padding-left: 3px;}
.pr3 {padding-righ: 3px;}

.border {border: 1px solid #ccc;}
.center {text-align:center;}
.right {text-align:right;}

.formYoon {width:auto; display:inline; margin-right:20px;}
.formYoonDate {width:110px; display:inline;}
.formYoonDateS {width:95px; display:inline;}
.tableSearchButton {float:right;}

#appTableDiv {margin-top:30px; padding:0 0 15px 0;}

.th_ho {background:#efefef; font-weight:bold;}
.th_bl {background:#999; color:#fff; font-weight:bold;}
.th_vi {background:#efefef; font-weight:bold; text-align:center;}

.checkBoxUl {padding:0;}
.checkBoxUl li {display:inline; margin-right:20px;}
.menuLi {display:inline; margin-right:20px;}
.inlineLi {display:inline; margin-right:20px;}

#apBtBox {margin-top:30px; padding:30px; border:1px solid #cccccc; background:#fbfce5; font-size:95%;}


.myid_icon {border-radius: 10px; color: #fff; font-size: 100%; text-align: center; padding: 25px 15px; margin-bottom: 20px;}
#myid_index_btn {color: #666;}
#myid_index_btn h4 {margin-top: 3px;}
.termsP {margin-bottom: 0; font-size: 95%; border: 1px solid #ccc; border-bottom: none; text-align: center; padding: 5px; background: #f8f8f8;}
.myidSub {color: #777;}
.myidSub_ul {padding: 0 0 0 20px; font-size: 85%; color: #777;}

.appStatusDiv_outline {border: 1px solid #ccc; margin-bottom: 20px;}
.appStatusTP {padding: 8px 15px; background: #efefef; font-weight: bold;}
.appStatusDiv {padding: 8px 15px; font-size: 95%;}
.appStatusDiv label {font-size: 95%;}
.form-group {margin-bottom: 17px;}


/****** margin *********/

.m-0 {margin: 0;}
.m-3 {margin: 3px!important;}
.m-5 {margin: 5px!important;}
.m-10 {margin: 10px!important;}
.m-15 {margin: 15px!important;}
.m-20 {margin: 20px!important;}
.m-30 {margin: 30px!important;}

.mt-0 {margin-top: 0px!important;}
.mt-3 {margin-top: 3px!important;}
.mt-5 {margin-top: 5px!important;}
.mt-10 {margin-top: 10px!important;}
.mt-15 {margin-top: 15px!important;}
.mt-20 {margin-top: 20px!important;}
.mt-30 {margin-top: 30px!important;}

.mb-0 {margin-bottom: 0px!important;}
.mb-3 {margin-bottom: 3px!important;}
.mb-5 {margin-bottom: 5px!important;}
.mb-10 {margin-bottom: 10px!important;}
.mb-15 {margin-bottom: 15px!important;}
.mb-20 {margin-bottom: 20px!important;}
.mb-30 {margin-bottom: 30px!important;}

.ml-0 {margin-left: 0px!important;}
.ml-3 {margin-left: 3px!important;}
.ml-5 {margin-left: 5px!important;}
.ml-10 {margin-left: 10px!important;}
.ml-15 {margin-left: 15px!important;}
.ml-20 {margin-left: 20px!important;}
.ml-30 {margin-left: 30px!important;}

.mr-0 { margin-right: 0px!important;}
.mr-3 {margin-right: 3px!important;}
.mr-5 {margin-right: 5px!important;}
.mr-10 {margin-right: 10px!important;}
.mr-15 {margin-right: 15px!important;}
.mr-20 {margin-right: 20px!important;}
.mr-30 {margin-right: 30px!important;}


/****** padding *********/

.p-0 {padding: 0px!important;}
.p-3 {padding: 3px!important;}
.p-5 {padding: 5px!important;}
.p-10 {padding: 10px!important;}
.p-15 {padding: 15px!important;}
.p-20 {padding: 20px!important;}
.p-30 {padding: 30px!important;}

.pt-0 {padding-top: 0px!important;}
.pt-3 {padding-top: 3px!important;}
.pt-5 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}

.pb-0 {padding-bottom: 0px!important;}
.pb-3 {padding-bottom: 3px!important;}
.pb-5 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}

.pl-0 {padding-left: 0px!important;}
.pl-3 {padding-left: 3px!important;}
.pl-5 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}

.pr-0 {padding-right: 0px!important;}
.pr-3 {padding-right: 3px!important;}
.pr-5 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}


/* border */

.no-border {border: 0!important;}
.no-border-top {border-top: 0!important;}
.no-border-bottom {border-bottom: 0!important;}
.no-border-left {border-left: 0!important;}
.no-border-right {border-right: 0!important;}



.border-lg {border-width: 2px;}
.border-top-lg {border-top: 2px solid;}
.border-bottom-lg {border-bottom: 2px solid;}
.border-left-lg {border-left: 2px solid;}
.border-right-lg {border-right: 2px solid;}

.border-xlg {border-width: 3px;}
.border-top-xlg {border-top: 3px solid;}
.border-bottom-xlg {border-bottom: 3px solid;}
.border-left-xlg {border-left: 3px solid;}
.border-right-xlg {border-right: 3px solid;}


.border-dashed {border: 1px dashed;}
.border-top-dashed {border-top: 1px dashed;}
.border-bottom-dashed {border-bottom: 1px dashed;}
.border-left-dashed {border-left: 1px dashed;}
.border-right-dashed {border-right: 1px dashed;}

.border-dotted {border: 1px dotted;}
.border-top-dotted {border-top: 1px dotted;}
.border-bottom-dotted {border-bottom: 1px dotted;}
.border-left-dotted {border-left: 1px dotted;}
.border-right-dotted {border-right: 1px dotted;}



/****** footer *********/
#footer {
  background: #D5EFEE; 
  color: #3F9393 !important; 
  padding:20px 50px; 
  text-align:center; 
  font-size: 13px; 
  max-width: 1100px; 
  margin: 0 auto;}

/****** button *********/

.buttonDiv {text-align:center; margin-top:50px;}

.btn-isic {
  color: #ffffff;
  background-color: #3ebebd;
  border-color: #12b3ae;
	line-height: 110%;
}

.btn-isic:hover,
.btn-isic:focus,
.btn-isic:active,
.btn-isic.active,
.open .dropdown-toggle.btn-isic {
  color: #ffffff;
  background-color: #12b3ae;
  border-color: #11635f;
}

.btn-isic:active,
.btn-isic.active,
.open .dropdown-toggle.btn-isic {
  background-image: none;
}

.btn-isic.disabled,
.btn-isic[disabled],
fieldset[disabled] .btn-isic,
.btn-isic.disabled:hover,
.btn-isic[disabled]:hover,
fieldset[disabled] .btn-isic:hover,
.btn-isic.disabled:focus,
.btn-isic[disabled]:focus,
fieldset[disabled] .btn-isic:focus,
.btn-isic.disabled:active,
.btn-isic[disabled]:active,
fieldset[disabled] .btn-isic:active,
.btn-isic.disabled.active,
.btn-isic[disabled].active,
fieldset[disabled] .btn-isic.active {
  background-color: #3ebebd;
  border-color: #12b3ae;
}



.btn-isic2 {
  color: #666;
  background-color: #d4efef;
  border-color: #b4dddd;
	line-height: 110%;
}

.btn-isic2:hover,
.btn-isic2:focus,
.btn-isic2:active,
.btn-isic2.active,
.open .dropdown-toggle.btn-isic2 {
  color: #666;
  background-color: #d4efef;
  border-color: #b4dddd;
}

.btn-isic2:active,
.btn-isic2.active,
.open .dropdown-toggle.btn-isic2 {
  background-image: none;
}

.btn-isic2.disabled,
.btn-isic2[disabled],
fieldset[disabled] .btn-isic2,
.btn-isic2.disabled:hover,
.btn-isic2[disabled]:hover,
fieldset[disabled] .btn-isic2:hover,
.btn-isic2.disabled:focus,
.btn-isic2[disabled]:focus,
fieldset[disabled] .btn-isic2:focus,
.btn-isic2.disabled:active,
.btn-isic2[disabled]:active,
fieldset[disabled] .btn-isic2:active,
.btn-isic2.disabled.active,
.btn-isic2[disabled].active,
fieldset[disabled] .btn-isic2.active {
  background-color: #d4efef;
  border-color: #b4dddd;
}



/******* file ***********/

.file_input_textbox
{
 float: left
}

.file_input_div
{
 position: relative; 
 width: 100%; 
 height: 40px; 
 overflow: hidden;
}

.file_input_button
{
 width: 100px; 
 position: absolute; 
 top: 0px;
 background-color: #33BB00;
 color: #FFFFFF;
 border-style: solid;
}

.file_input_hidden
{
 font-size: 45px; 
 position: absolute; 
 right: 0px; 
 top: 0px; 
 opacity: 0; 
 
 filter: alpha(opacity=0); 
 -ms-filter: "alpha(opacity=0)"; 
 -khtml-opacity: 0; 
 -moz-opacity: 0;
}



/*640 부터는*/

@media (min-width: 640px) {
#wrap {padding: 30px 30px;}
#topCard {height: 65px;}
  
#topTitleM {display:none;}
.ppr0 {padding-right:0;}
.ppl0 {padding-left:0;}
.ppr3 {padding-right:3px;}
.ppl3 {padding-left:3px;}
.mo {display:none;}
.myidWrapDiv {border: 1px solid #ccc; padding: 30px;}
#myidNavDiv {font-size:110%; background:#bbb;}
#myid_index_btn {max-width: 90%; margin: 0 auto; margin-top: 30px; font-size: 95%;}
.pcml {text-align: center;}
}

/*640 이하에서는*/

@media (max-width: 640px) {
#wrap {padding: 30px 10px;}
  
#appTop td {font-size: 14px; font-weight: normal;}
#topCard {height: 55px;}
  
#topTitleM {color:#fff; background:#2d939e; padding:7px 10px; font-size: 15px; margin:0; border-radius: 5px; font-weight: normal;}
#topTitleDiv {display:none;}
.mppr0 {padding-right:0;}
.mppl0 {padding-left:0;}
.mppr3 {padding-right:3px;}
.mppl3 {padding-left:3px;}
.mx {display:none;}
.myidWrapDiv {border: 0px solid #ccc; padding: 0 10px 10px 10px;}
#myidNavDiv {font-size:100%; background:#bbb;}
.myid_index_btn {}
#myid_index_btn {padding: 0 10px; font-size: 90%;}
.myidSub {font-size: 90%;}
.pcml {text-align: left;}
}





