@charset "UTF-8";

h3 {padding-left: 0;}

.small {font-size: 80%;}
.myidSub {color: #777;}
.myidSub_ul {padding: 0 0 0 20px; font-size: 85%; color: #777;}


.myid_cardP {margin:0; text-align:center;}
.myid_card {width:90%; max-width:640px;}

.preview_p {margin-top:0; padding:20px; border:1px solid #ccc; border-bottom:none;}
.preview_p {border:none; padding:0; color:#000; margin-left: -40px;}
.preview_pIn {width:505px; height:319px; margin:0 auto;}

.preview_m {margin:0 0 20px 0; color:#000;}
.preview_mIn {width:260px; height:164px; margin:0 auto;}


.idNumberB {margin:0 0 7px -13px;}
.idNumberS {font-size:70%; padding: 0 0 0 5px;}


.myidTable {font-size:95%; border-bottom:1px solid #ddd;}
.myidTable th {height:60px;}
.myidTable td {}
.barDiv {width:1px; height:60px; border-top:5px solid #fff; border-bottom:5px solid #fff; background:#ddd;}

.myid_appIcon {width:50px; border-radius:7px; border:1px solid #ccc;}

.myid_bTable {border-bottom:1px solid #ddd; margin:0;}
.myid_bTable th {width:60px;}

.myid_appUl {font-size:85%; padding: 0 0 0 20px; margin:0;}

.myid_menuUl {padding:0; color:#49bcbc; font-size:130%;}
.myid_menuUl li {display:inline-block;}
.myid_menuUl a:link {color:#999;text-decoration:none;}
.myid_menuUl a:visited {color:#999;text-decoration:none;}
.myid_menuUl a:active {color:#999;text-decoration:none;}
.myid_menuUl a:hover {color:#999;text-decoration:underline;} 
.myid_menu_X {font-size:80%;}

.onlineIDdiv {padding-bottom:30px;}

.menuLink {font-size:70%;}
.menuLink a:link {color:#999;text-decoration:none;}
.menuLink a:visited {color:#999;text-decoration:none;}
.menuLink a:active {color:#999;text-decoration:none;}
.menuLink a:hover {color:#999;text-decoration:underline;} 

.regiInfoDiv {padding-bottom:50px;}
.regiInfoDiv label {background:#efefef; padding:5px; margin:0;}
.regInfotable {width:100%; border:1px solid #ccc; border-collapse:collapse;}
.regInfotable td {border-bottom:1px solid #ccc; border-collapse:collapse; width:50%; vertical-align:top;}

.myid_appTh {background:#efefef; padding-top: 7px; padding-bottom:7px; border-top:1px solid #ccc;}
.myid_appTd {padding:8px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:90%;}
.myid_appTd ul {padding:0 0 0 20px;}
.myid_appTitle {font-weight:bold; margin-bottom:5px;}

.appPhotoP {max-height:68px; overflow:hidden; border:1px solid #ddd;}
.appPhoto {width:100%;}
.w100 {width:100%;}
.myid_appTable {font-size:90%;}
.myid_appTable ul {padding:0 0 0 20px;}
.idType_icon {width:20px; margin: 0 10px 0 0;}

.pInfoTable {width:100%; margin:0; min-height: 400px;}
.pInfoTable th {background:#efefef; width:40%;}
#myInfo_photo img {width: 100px; height: 130px;}

.idReceivingTable {width:100%; margin-bottom:30px;}
.idReceivingTable th {background:#f8f8f8; padding:8px; border-collapse:collapse; border:1px solid #ccc;}
.idReceivingTable td {padding:8px; border-collapse:collapse; border:1px solid #ccc; vertical-align:middle;}

.idReceivingTable_inT {width:100%; margin:0;}
.idReceivingTable_inT th {border:none; background:none; vertical-align:top;}
.idReceivingTable_inT td {border:none; vertical-align:top;}
.cardRecevingGuid {min-height:250px; vertical-align:middle;}

.cardR_sample {width:45%;}

.myid_appTableM {font-size:88%;}
.myid_appTableM th {background:#f8f8f8;}
.myid_appTableM td {vertical-align:middle;}
.myid_appTableM_id {width:80px;}
.myid_appTableM_date {width:45%;}

.dBtn {margin-left: 7px; font-size: 85%; float: right;}
.myid_icon {border-radius: 10px; color: #fff; font-size: 100%; text-align: center; padding: 25px 15px; margin-bottom: 20px;}
#myid_index_btn {color: #666;}
#myid_index_btn h4 {margin-top: 3px;}
.termsP {margin-bottom: 0; font-size: 95%; border: 1px solid #ccc; border-bottom: none; text-align: center; padding: 5px; background: #f8f8f8;}

.appStatusDiv_outline {border: 1px solid #ccc; margin-bottom: 20px;}
.appStatusTP {padding: 8px 15px; background: #efefef; font-weight: bold;}
.appStatusDiv {padding: 8px 15px; font-size: 95%;}
.appStatusDiv label {font-size: 95%;}
.form-group {margin-bottom: 17px;}

.notPaid_comment {font-size: 90%; color: #777;}

.termDiv {height:150px; width:100%; margin-bottom:10px; overflow:auto;-webkit-overflow-scrolling:touch; border:1px solid #ccc; padding: 10px;}

.cGrey {color: #999;}
.normal {font-weight: normal;}
.subEnH3 {font-size: 75%; font-weight: normal;}



/*640 부터는*/

@media (min-width: 640px) {
#myidBodyLogin {padding-top: 150px;}
#myidBody {padding-top: 50px;}
  
.myidWrapDiv {border: 1px solid #2d939e; padding: 30px;}
#myidNavDiv {font-size:110%; background:#bbb;}
#myid_index_btn {max-width: 90%; margin: 0 auto; margin-top: 30px; font-size: 95%;}
.pcml {text-align: center;}
}

/*640 이하에서는*/

@media (max-width: 640px) {
body {padding: 5px;}
#myidBodyLogin {/*background: #fff;*/}
#myidBody {/*background: #fff;*/}
#topCard {height: 50px;}
#appTop_hr {border-top: 1px solid #2d939e; margin: 0 0 20px 0;}
  
.myidWrapDiv {padding: 0 10px 10px 10px;}
#myidNavDiv {font-size:100%; background:#bbb; font-size: 90%;}
#myidNavDiv td {padding: 8px;}
.myid_index_btn {}
#myid_index_btn {padding: 0 10px; font-size: 90%;}
.myidSub {font-size: 90%;}
.pcml {text-align: left;}
}





