@charset "UTF-8";

/************* general **************/

body {background: #777; padding: 0; margin: 0;}

#wrapper {width:1280px; margin:0 auto; background: #fff; padding-top: 10px;}

.formYoon {width:auto; display:inline; margin-right:15px;}
.formYoonNm {width:auto; display:inline;}
.formYoonCa {width:auto; display:inline; width:100px;}
.greenText {color:#3fc1be;}
.clearL {clear:left;}
.clearR {clear:right;}
.flL {float:left;}
.flR {float:right;}

.text-exp {color: #ff8f43; line-height: 120%;}

/*.table td {vertical-align: top !important;}*/


.noticList {padding:0 0 0 20px; font-size:90%;}

.m0 {margin:0;}
.ma0 {margin:0;}
.mt0 {margin-top:0;}
.mt30 {margin-top:30px;}
.mt20 {margin-top:20px;}
.mt10 {margin-top:10px;}
.mb20 {margin-bottom:20px;}
.mb10 {margin-bottom:10px;}
.mb5 {margin-bottom:5px;}
.ml20 {margin-left:20px;}
.mr20 {margin-right:20px;}

.p0 {padding:0;}
.p5 {padding:5px;}
.pr0 {padding-right:0;}
.pr3 {padding-right:3px;}
.pl0 {padding-left:0;}
.pl3 {padding-left:3px;}
.pl20 {padding-left: 20px;}
.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}

.small {font-size:90%;}
.w100 {width:100%;}
.mw100 {max-width:100%;}

.w30p {width:30%;}
.w20p {width:20%;}
.w25p {width:25%;}

.normal {font-weight: normal;}

.qButton {margin: 0 0 0 15px;}

/******* login *********/

#loginBody {background:#d4efef; padding-top:250px;}
#lgoinTe {background:#e6c544; padding:25px; box-shadow:0 5px 5px #222;}
#loginTeTable {margin:0 auto; font-size:250%; color:#fff; font-weight:bold;}
#loginTitleBar {background:#45c0be; padding:27px; /*border-bottom: 3px solid #e6c544;*/ /*box-shadow:0 5px 5px #e6c544;*/}
#loginTitleTable {margin:0 auto; font-size:240%; color:#fff; font-weight:bold;}
#loginTitleTable td {padding: 0 10px;}
#loginInputDiv {width:750px; margin:0 auto; padding:20px 0 0 0;}
#loginInputTable {text-align:right; margin: 0 auto;}
#loginInputTable td {padding:10px;}
.loginInupt {width:150px; height:48px;  border-radius:5px; font-size:130%; border:2px solid #e6c544;}
#copyRgiht {text-align: right; width: 730px; color: #c5c5c5; margin: 0 auto; padding: 5px 0 0 0; font-size: 11px;}

/******************************************** Top *************************************************/


#logoutField { border: 1px solid #45c0be; padding: 5px; color: #444; text-align: right; font-size: 12px; padding: 7px 10px; display: inline-block; border-radius: 5px;}

.logout a:link {color:#444;text-decoration:none;}
.logout a:visited {color:#444;text-decoration:none;}
.logout a:active {color:#444;text-decoration:none;}
.logout a:hover {color:#45c0be;text-decoration:underline; background:none;} 

.logoutBt {margin-left: 5px; border: none; color: #666; font-size: 90%;}

/*
#logoutField {background: #45c0be; color: #fff; text-align: right; font-size: 12px; padding: 7px 10px; display: inline-block; border-radius: 5px; box-shadow:0 2px 5px #999;}

.logout a:link {color:#fff;text-decoration:none;}
.logout a:visited {color:#fff;text-decoration:none;}
.logout a:active {color:#fff;text-decoration:none;}
.logout a:hover {color:#fff000;text-decoration:underline; background:none;} 
*/

#top {padding: 0 50px 0 40px;}
#top1 {margin:0; width: 100%;}
#top1 td {padding: 20px 0 5px 0; vertical-align:bottom; }
#topIcons {height:40px; margin-left:15px;}
#topTitle {font-size:16px; margin:0; line-height: 110%;}
#country {color:#3ebebd; margin: 0 0 2px 0;}

#top2 {margin:0; height:30px; background:url(../images/topBg5.jpg) repeat-x top; width:100%; font-size:90%;}
#top2L {padding-left:20px; color:#ffffff; vertical-align:middle;}
#top2R {color:#ffffff; padding-right:20px; text-align:right; vertical-align:middle;}



/******************************************** menu *************************************************/
	
#headMenuDiv {background:#d4efef; border-top: 3px solid #45c0be; padding-bottom:15px; margin-top:2px;}	
#headMenuDiv:after {clear: both; display: table;}

.menu {float:left; padding:0 20px; background: url(../images/menuBarSide.png) no-repeat right;}
.headMenuB {padding:15px 0 5px 0; margin:0; font-weight:bold; font-size:14px; color:#45c0be;}

.headMenuB a:link {color:#3a9393;text-decoration:none;}
.headMenuB a:visited {color:#3a9393;text-decoration:none;}
.headMenuB a:active {color:#3a9393;text-decoration:none;}
.headMenuB a:hover {color:#3a9393;text-decoration:underline; background:none;} 

.headMenu {padding:0 1px 5px 0; margin:0;}
.headMenu li {display:inline; font-size:13px; color:#3a9393;}

.headMenu a:link {color:#999;text-decoration:none;}
.headMenu a:visited {color:#999;text-decoration:none;}
.headMenu a:active {color:#999;text-decoration:none;}
.headMenu a:hover {color:#45c0be;text-decoration:underline; background:none;} 


#topMenu {background:#d4efef; border-top: 3px solid #45c0be; padding: 0 0 0 50px;}
#topMenu ul {padding: 0; margin: 0; font-size: 14px;}
.topMenuLi {display:inline; padding: 15px;}
.active {background: #3a9393; color: #fff;}

/******** contents ************/

#contents {padding:30px 50px; /*border:10px solid #3a5e8f;*/ border-bottom:0; margin-top:10px; background: #fff;}

h1 {font-size:20px; font-weight:normal; margin:0; padding:0 0 40px 10px; color:#3a9393;}
h2 {font-size:18px; font-weight:normal; margin:0 0 20px 0; padding:0 0 0 5px;}

label {font-weight: normal; padding: 0 0 0 10px; margin-right: 5px; font-size: 16px;}
th {font-weight: normal;}

.h1Sub {font-weight:normal; font-size:90%;}
.titleS {padding:5px 0 5px 40px; margin-top:40px; margin-bottom:10px; font-size:17px; font-weight:bold;}

.h1Sub a:link {color:#999;text-decoration:none;}
.h1Sub a:visited {color:#999;text-decoration:none;}
.h1Sub a:active {color:#999;text-decoration:none;}
.h1Sub a:hover {color:#3a5e8f;text-decoration:underline; background:none;} 

.searchDiv {padding-bottom:20px;}
.searchDiv:after {clear: both; display: table;}
.fr {float:right;}

.thGrey {background:#f8f8f8;}

.appDetailStatus {font-size: 80%; font-weight: normal;}

#photo {width:120px; height:150px;}
#cardDesignImg {width:92%;}

.approveListPhoto {width:150px; height:180px;}
.printListPhoto {width:80px; height:100px;}
.checkDigitBox {padding-left:5px; padding-right:5px;}

#inofficCardBg {width:100%; padding:0 0 0 30px; min-height: 426px;}
#inofficCardDataDiv {padding:195px 0 10px 15px;}
#inofficCard_photo {width:165px; height:200px; margin-top:30px;}
.cardTitles {font-weight:bold; color:#004c49;}
.inofficeCardNoP {margin:80px 0 0 0;}
.inofficCard_noField {width:auto; display:inline; width:70px;}
.inofficCard_cdgField {width:auto; display:inline; width:30px; padding:5px;}

.btnDiv {padding-top:30px; text-align:center;}

.collapsible {border: none; float: right; color: #444!important;}
.content {
    padding: 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
		border-radius: 5px;
		margin-bottom: 20px;
		z-index: 999;
}


/****** margin *********/

.m-0 {margin: 0;}
.m-3 {margin: 3px!important;}
.m-5 {margin: 5px!important;}
.m-10 {margin: 10px!important;}
.m-15 {margin: 15px!important;}
.m-20 {margin: 20px!important;}
.m-30 {margin: 30px!important;}

.mt-0 {margin-top: 0px!important;}
.mt-3 {margin-top: 3px!important;}
.mt-5 {margin-top: 5px!important;}
.mt-10 {margin-top: 10px!important;}
.mt-15 {margin-top: 15px!important;}
.mt-20 {margin-top: 20px!important;}
.mt-30 {margin-top: 30px!important;}

.mb-0 {margin-bottom: 0px!important;}
.mb-3 {margin-bottom: 3px!important;}
.mb-5 {margin-bottom: 5px!important;}
.mb-10 {margin-bottom: 10px!important;}
.mb-15 {margin-bottom: 15px!important;}
.mb-20 {margin-bottom: 20px!important;}
.mb-30 {margin-bottom: 30px!important;}

.ml-0 {margin-left: 0px!important;}
.ml-3 {margin-left: 3px!important;}
.ml-5 {margin-left: 5px!important;}
.ml-10 {margin-left: 10px!important;}
.ml-15 {margin-left: 15px!important;}
.ml-20 {margin-left: 20px!important;}
.ml-30 {margin-left: 30px!important;}

.mr-0 { margin-right: 0px!important;}
.mr-3 {margin-right: 3px!important;}
.mr-5 {margin-right: 5px!important;}
.mr-10 {margin-right: 10px!important;}
.mr-15 {margin-right: 15px!important;}
.mr-20 {margin-right: 20px!important;}
.mr-30 {margin-right: 30px!important;}


/****** padding *********/

.p-0 {padding: 0px!important;}
.p-3 {padding: 3px!important;}
.p-5 {padding: 5px!important;}
.p-10 {padding: 10px!important;}
.p-15 {padding: 15px!important;}
.p-20 {padding: 20px!important;}
.p-30 {padding: 30px!important;}

.pt-0 {padding-top: 0px!important;}
.pt-3 {padding-top: 3px!important;}
.pt-5 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}

.pb-0 {padding-bottom: 0px!important;}
.pb-3 {padding-bottom: 3px!important;}
.pb-5 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}

.pl-0 {padding-left: 0px!important;}
.pl-3 {padding-left: 3px!important;}
.pl-5 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}

.pr-0 {padding-right: 0px!important;}
.pr-3 {padding-right: 3px!important;}
.pr-5 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}


/* border */

.no-border {border: 0!important;}
.no-border-top {border-top: 0!important;}
.no-border-bottom {border-bottom: 0!important;}
.no-border-left {border-left: 0!important;}
.no-border-right {border-right: 0!important;}



.border-lg {border-width: 2px;}
.border-top-lg {border-top: 2px solid;}
.border-bottom-lg {border-bottom: 2px solid;}
.border-left-lg {border-left: 2px solid;}
.border-right-lg {border-right: 2px solid;}

.border-xlg {border-width: 3px;}
.border-top-xlg {border-top: 3px solid;}
.border-bottom-xlg {border-bottom: 3px solid;}
.border-left-xlg {border-left: 3px solid;}
.border-right-xlg {border-right: 3px solid;}


.border-dashed {border: 1px dashed;}
.border-top-dashed {border-top: 1px dashed;}
.border-bottom-dashed {border-bottom: 1px dashed;}
.border-left-dashed {border-left: 1px dashed;}
.border-right-dashed {border-right: 1px dashed;}

.border-dotted {border: 1px dotted;}
.border-top-dotted {border-top: 1px dotted;}
.border-bottom-dotted {border-bottom: 1px dotted;}
.border-left-dotted {border-left: 1px dotted;}
.border-right-dotted {border-right: 1px dotted;}

/****** paging *********/

.pagination {padding:0; width: 100%; margin-top:30px;}
.pagination .pagination-pages {margin: 0; padding: 0 0 1px 0; width: 100%; list-style: none; text-align: center; border: 0; }
.pagination .pagination-pages li { display: inline; margin: 0; padding: 0 1px; background: none; border: 0; list-style: none; }
.pagination .pagination-pages li a { padding: 6px 11px; border: 1px solid #dddddd; text-decoration: none; font-size: 13px; line-height: 27px; color: #999999; background-color: white; }
.pagination .pagination-pages li.activePaging a { border: 1px solid #555555; color: white; background-color: #555555; text-decoration: none; }


/******** foot ***********/

#footer {background: #D5EFEE; color: #3F9393 !important; padding:20px 50px; color:#ccc; text-align:center; font-size: 13px;}

/****** button *********/

.btn-sm {font-size:100%;}

.buttonDiv {text-align:center; margin-top:50px;}

.btn-kyp {
  color: #ffffff;
  background-color: #45c0be;
  border-color: #45c0be;
}

.btn-kyp:hover,
.btn-kyp:focus,
.btn-kyp:active,
.btn-kyp.active,
.open .dropdown-toggle.btn-kyp {
  color: #fff000;
  background-color: #45c0be;
  border-color: #3a9393;
}

.btn-kyp:active,
.btn-kyp.active,
.open .dropdown-toggle.btn-kyp {
  background-image: none;
}

.btn-kyp.disabled,
.btn-kyp[disabled],
fieldset[disabled] .btn-kyp,
.btn-kyp.disabled:hover,
.btn-kyp[disabled]:hover,
fieldset[disabled] .btn-kyp:hover,
.btn-kyp.disabled:focus,
.btn-kyp[disabled]:focus,
fieldset[disabled] .btn-kyp:focus,
.btn-kyp.disabled:active,
.btn-kyp[disabled]:active,
fieldset[disabled] .btn-kyp:active,
.btn-kyp.disabled.active,
.btn-kyp[disabled].active,
fieldset[disabled] .btn-kyp.active {
  background-color: #45c0be;
  border-color: #45c0be;
}



.btn-kyp2 {
  color: #3a9393;
  background-color: #d4efef;
  border-color: #45c0be;
}

.tn-kyp2:hover,
.tn-kyp2:focus,
.tn-kyp2:active,
.tn-kyp2.active,
.open .dropdown-toggle.tn-kyp2 {
  color: #3a9393;
  background-color: #d4efef;
  border-color: #45c0be;
}

.tn-kyp2:active,
.tn-kyp2.active,
.open .dropdown-toggle.tn-kyp2 {
  background-image: none;
}

.tn-kyp2.disabled,
.tn-kyp2[disabled],
fieldset[disabled] .tn-kyp2,
.tn-kyp2.disabled:hover,
.tn-kyp2[disabled]:hover,
fieldset[disabled] .tn-kyp2:hover,
.tn-kyp2.disabled:focus,
.tn-kyp2[disabled]:focus,
fieldset[disabled] .tn-kyp2:focus,
.tn-kyp2.disabled:active,
.tn-kyp2[disabled]:active,
fieldset[disabled] .tn-kyp2:active,
.tn-kyp2.disabled.active,
.tn-kyp2[disabled].active,
fieldset[disabled] .tn-kyp2.active {
  background-color: #d4efef;
  border-color: #45c0be;
}


