#topMenu {background: #d4efef; margin-top: 5px; border-top: 3px solid #45c0be;}
.subMenuLast {border-bottom: 1px solid #d4efef !important;}

#managerMenu {margin-left: 113px !important; border-left: 1px solid #fff;} /* 관리자 메뉴 띄우기 */

#cssmenu {
  background: #d4efef; border-left:1px solid #fff;
  margin: 0;
  width: auto;
  padding: 0 0 0 0;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: content-box;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after,
#cssmenu:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
  z-index: 999;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #339393; 
  border:1px solid #d4efef; border-bottom: none; /*서브메뉴 테두리*/
  padding: 7px;  /*서브메뉴 높이조정*/
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #000;
  z-index: 1;
  top: 13px;
  right: 15px;
}
#cssmenu.align-right ul li ul li.has-sub:after {
  right: auto;
  left: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #339393;
  z-index: 2;
  top: 15px;
  right: 15px;
}
#cssmenu.align-right ul li ul li.has-sub:before {
  right: auto;
  left: 15px;
  border-left-color: transparent;
  border-right-color: #339393;
}
#cssmenu ul li ul li a {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  color: #fff; /*서브메뉴 색 */
  letter-spacing: 0;
  display: block;
  width: 220px;
  padding: 11px 5px 11px 10px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #ede835; /*메뉴에 올렸을 때 변하는 색*/
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #339393;
}
#cssmenu ul li ul li:hover > ul {
  left: 100%;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul > li {
  float: none;
  display: inline-block;
}
#cssmenu.align-center > ul {
  text-align: center;
  font-size: 0;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu.align-right ul ul li:hover > ul {
  right: 100%;
  left: auto;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #339393; /*active menu*/
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
  border-left: 1px solid #d4efef;
  border-right: 1px solid #d4efef;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: "";
  background: #339393;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 16px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: "";
  border: 4px solid transparent;
  border-top-color: #d4efef;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 21px;
}


#cssmenu > ul > li > a {
  color: #444;
  text-align: center;
  width: 220px; /* 메뉴 너비 조정 */
  padding: 18px 20px; /* 메뉴 높이 조정 */
  font-weight: normal;
  letter-spacing: 0;
  /*text-transform: uppercase;*/
  font-size: 14px;
  z-index: 2;
  position: relative;
  border-right: 1px solid #fff; /* 메뉴 옆라인 */
}


#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #fff; /* 액티브 탑 메뉴 색 */
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #d4efef;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #d4efef;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu > ul > li > a {
  display: block;
}
#cssmenu > ul > li {
  width: auto;
  background: #d4efef; /* 비활성메뉴 색상 */
}
#cssmenu > ul > li > ul {
  width: 220px; /* 서브 메뉴 너비 조정 */
  display: block;
}
#cssmenu > ul > li > ul > li {
  width: 220px; /* 서브 메뉴 너비 조정 */
  display: block;
}